
.centrado {
    display: flex;
    justify-content: center;
}

.margin {
    margin-left: 10px;
}





.tamanio {
    width: 900px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.text {
    
    font-size: 20px;
    font-weight: 500;
}
