.centrado {
    display: flex;
    justify-content: center;
}

.margin {
    margin-left: 10px;
}

.tamanio {
    width: 900px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.text {
    font-size: 20px;
    font-weight: 500;
}

.selected {
    font-weight: bold;    
    font-family: fantasy;
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.addToList{    
    float: right;
    margin: 10px;
    background-color: white;    
    border: 1px solid #9c9b9b;
    border-radius: 5px;
}
.addToList:hover{
    background-color: #ddd;
    border-color: #828282;
}