<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Fincas Monreal</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/css/business-frontpage.css" rel="stylesheet"/>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.html"><img class="icon" src="img/logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/nowMore.html">About</a>
                    </li>
                    <li>
                        <a href="/services.html">Services</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Fincas Monreal</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <hr/>
        
        <div classs="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <a href="/services.html"><button type="button" class="btn btn-success indexButton"><h1>Try our service</h1></button></a>
            </div>
            <div class="col-sm-5"></div>
        </div>
        
        <hr/>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Fincas Monreal se dedica a administrar fincas de distintas comunidades de vecinos. Podrás añadir, modificar y consultar comunidades de vecinos y sus propietarios; consulta nuestros propietarios mediante una serie de criterios como puede ser portal, portal y planta, apellidos, DNI o todos los de la comunidad.</p>
                <p>Cuando consultes algo de nuestra base de datos podrás modificarlo.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="/nowMore.html">Now more &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Fincas Monreal</strong>
                    <br/>3481 Melrose Place
                    <br/>Beverly Hills, CA 90210
                    <br/>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br/>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">fincasMonreal@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr/>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="img/finca1.jpg" alt="" />
                <h2>Montepinar (Huelva)</h2>
                <p>La comunidad Montepinar está localizada en la provincia de Huelva cerca del río Odiel situado cerca de la ciudad de Huelva con energía suministrada gracias a la central de energía solar</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="img/finca2.jpg" alt="" />
                <h2>San José (Valladolid)</h2>
                <p>En la provincia de Valladolid, Pinar de Antequera, cerca de la ciudad de Valladolid se encuentra San José. Puede ir al pueblo del Pinar de Antequera o a la propia ciudad </p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="img/finca3.jpg" alt="" />
                <h2>El Chozo(Zamora)</h2>
                <p>El Chozo se encuentra en la provincia de Zamora cerca del río Duero. Visite la ciudad de Zamora en donde se encuentra su catedral</p>
            </div>
        </div>
        <!-- /.row -->

        <hr/>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
