<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Fincas Monreal</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="/css/business-frontpage.css" rel="stylesheet"></link>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index"><img class="icon" src="img/logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/nowMore">About</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Fincas Monreal</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr></hr>
        <div class="row">
            <div class="col-sm-12">                
                <div class="btn-group" role="group" aria-label="...">
				  <a href="/aniadir"><button type="button" class="btn btn-success aniadir">Añadir comunidad</button></a>
				  <a href="/aniadirPropiedad"><button type="button" class="btn btn-success aniadir">Añadir propiedad</button></a>
				  <a href="/aniadirPropietario"><button type="button" class="btn btn-success aniadir">Añadir propietario</button></a>
				</div>
                
                <hr></hr>
                <form action="/search" class="navbar-form navbar-left">
                    <select class="form-control" name="attribute" id="sel1">
                        <option>Portal</option>
                        <option>Portal y planta</option>
                        <option>Apellidos</option>
                        <option>DNI</option>
                        <option>Todos los de la comunidad</option>
                      </select>
                    <div class="form-group">
                        <input type="text" name="searchedPropietary" class="form-control buscar"></input>
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
              	<label>p.e: 10 or 10, 4 or Luis García or 123456789A or H12345678</label>
				<hr/>
				<p>Aquí se muestra una lista de las comunidades, propiedades y propietarios que existen
				actualmente en nuestra base de datos de manera que pueda informarse para realizar su búsqueda más eficientemente</p>
				
				<h1>Comunidades</h1>
				<div class="list-group" th:each="com : ${comunities}">
				  <a class="list-group-item" th:text="${com.cifComunidadVecinos}"></a>
				</div>
				<h1>Propiedades</h1>
				<div class="list-group" th:each="prop : ${properties}">
				  <a class="list-group-item" th:text="'CIF: '+${prop.comunidadPropiedad.cifComunidadVecinos}+' Portal: '+${prop.portalPropiedad}+' Planta: '+${prop.plantaPropiedad}+' Letra: '+${prop.letraPropiedad}"></a>
				</div>
				<h1>Propietarios</h1>
				<div class="list-group" th:each="p : ${propietaries}">
				  <a class="list-group-item" th:text="${p.nombrePropietario}+' '+${p.apellidosPropietarios}"></a>
				</div>
             </div>
        </div>

        <hr/>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
<!--     <script src="/js/javascript.js"></script> -->

</body>

</html>
