<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Fincas Monreal</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet"></link>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img class="icon" src="img/logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="nowMore.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Fincas Monreal</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr></hr>
        <div class="row">
            <div class="col-sm-12">
                <button href="aniadir.html" type="button" class="btn btn-success aniadir">Añadir</button>
                <hr></hr>
                <form class="navbar-form navbar-left">
                    <select class="form-control" id="sel1">
                        <option>Portal</option>
                        <option>Portal y planta</option>
                        <option>Apellidos</option>
                        <option>DNI</option>
                        <option>Todos los de la comunidad</option>
                      </select>
                    <div class="form-group">
                        <input type="text" class="form-control buscar"></input>
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>

        <hr></hr>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p> <img alt="" src="img/comunidad1.jpg" class="icon" /><button type="button" class="btn btn-success watchIt">Watch it</button>
                            <p>Name, place</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <ul class="nav nav-tabs esconderTodo">
                    <li role="presentation" class="active"><a href="services.html">Comunidad</a>
                    </li>
                    <li role="presentation"><a href="services-properties.html">Propiedad seleccionada</a></li>
                </ul>
                <form>
                    <div class="panel panel-success positionStyle">
                        <div class="panel-heading">
                            <h3 class="panel-title">Comunidad de la propiedad: </h3>
                        </div>
                        <div class="panel-body">
                            <div class="thumbnail infoPanel" style="width:300px">
                                <img src="img/finca1.jpg" alt="" class="imgFincaInfo" style="margin:0px" />
                                <div class="caption">
                                    <button href="#" class="btn btn-success modifyButton" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Modificar</button>
                                </div>
                            </div>
                            <div class="input-group textAreaRight">
                                <span class="input-group-addon" id="basic-addon1">CIF: </span>
                                <input type="text" class="form-control input" placeholder="H12345678" aria-describedby="basic-addon1" readonly="readonly"></input>
                            </div>
                            <div class="input-group textAreaRight">
                                <span class="input-group-addon" id="basic-addon1">Población: </span>
                                <input type="text" class="form-control input" placeholder="Alcorcón, Madrid" aria-describedby="basic-addon1" readonly="readonly"></input>
                            </div>
                            <div class="input-group textAreaRight">
                                <span class="input-group-addon" id="basic-addon1">Calle: </span>
                                <input type="text" class="form-control" placeholder="Tulipan" aria-describedby="basic-addon1" readonly="readonly"></input>
                                <span class="input-group-addon" id="basic-addon1">Nº: </span>
                                <input type="text" class="form-control input" placeholder="13" aria-describedby="basic-addon1" readonly="readonly"></input>
                            </div>
                            <div class="input-group textAreaRight">
                                <span class="input-group-addon" id="basic-addon1">Código postal: </span>
                                <input type="text" class="form-control input" placeholder="28932" aria-describedby="basic-addon1" readonly="readonly"></input>
                            </div>
                            <div class="input-group textAreaRight">
                                <span class="input-group-addon" id="basic-addon1">Nº de cuenta: </span>
                                <input type="text" class="form-control input" placeholder="12345678901234567890" aria-describedby="basic-addon1" readonly="readonly"></input>
                            </div>
                        </div>

                        <!--Cuando se cambien los enlaces para Spring hay que cambiar en el javascript el enlace para enviar una petición Delete. Normalmente solamente nos enviaría a services-properties pero cuando se modifica la info no tiene que enviarme a alli sino cambiar el enlace mediante javascript a otro que me envie una petición delete-->
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled">Propiedades disponibles</a>
                            <a href="#" class="list-group-item listaPropiedades">Propiedad 2<button class="rightAlign"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                            <a href="#" class="list-group-item listaPropiedades">Propiedad 3<button class="rightAlign"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                            <a href="#" class="list-group-item listaPropiedades">Propiedad 4<button class="rightAlign"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                        </div>
                        <input type="submit" class="form-control input bottonSave" name="guardar" value="Guardar"></input>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/javascript.js"></script>

</body>

</html>
